<!-- About -->

{% extends "base.html" %}



{% block title %}
About our chapter
{% endblock %}

{% block heading %}
<h1>About our chapter</h1>
{% endblock %}

{% block content %}
<div class="container well">
	<div class="row">
		<div class="span9">
          <div class="container content" >
            <h3>Mission</h3>
            <h4>Character development</h4>

            <p>College covers a span of life that holds tremendous possibilities for the development of an individual’s personality. To thrive, people need a congenial and stimulating atmosphere. The fraternity chapter, with its carefully chosen members, provides this environment.</p>

            <h4>Strong friendships</h4>

            <p>Fraternity life teaches members to seek grounds for mutual understanding and appreciation. The desire to understand and to be understood is universal. The relationships developed in a fraternity give the assurance of deep and lasting friendships.</p>

            <h4>Support, advice, and counsel</h4>

            <p>Fraternities fill the void caused by the breaking of family ties. In each chapter, the accumulated years of experience of the upperclassmen can go a long way in helping solve the problems facing freshmen.</p>

            <h4>Encourages scholarship</h4>

            <p>Psi Upsilon expects its members to be leaders in and out of the classroom. Brothers help each other with studies, course selection, and curriculum planning. They also exert positive peer pressure so that academic success may be realized.</p>

            <h4>Broaden outside interests</h4>

            <p>By associating with people of different backgrounds and interests, members of the Fraternity find their own interests broadened and changed by those around them.</p>

            <h4>Foster high ideals</h4>

            <p>Each member is exposed to the timeless ideals, aims, and principles which have served Psi Upsilon since its founding. The goals of each member are to make a significant contribution to their college or university, to their community, and to their country; to adopt and fulfill significant life goals; and to achieve the highest moral, intellectual, and social excellence and educational standards.</p>
		</div>
		</div>
	</div>
</div>

{% endblock %}
