<!-- chapter roll -->

{% extends "base.html" %}

{% block title %}
Chapter Roll
{% endblock %}

{% block heading %}
<h1>Chapter Roll <small>{{ section }}</small></h1>
{% endblock %}

{% block content %}
<div class="container">

      {% for b in brothers %}
      {% if forloop.first %}
          <ul class="thumbnails">
      <div class="row-fluid">
              {% endif %}
    <li class="span2">
    <div class="thumbnail" style="background-color:#ffffff;">
      <img src="/static/{{ b.photo.url }}" class="img-round" height="100pt"  >
      <div class="caption">
        <p>{{ b.name }}</p>
        <p><strong></strong>{{ b.phone_number }}</p>
        <p><strong>Initiated: </strong>{{ b.year_joined }}</p>
        <p><strong>Graduation: </strong>{{ b.year_graduate }}</p>
        {% if b.isExec %}
        <p><strong>Position: </strong>{{ b.execPosition }}</p>
        {% endif %}
      </div>

    </div>
    </li>
    {% if forloop.counter|divisibleby:6 %}
    </div>
    <div class="row-fluid">
    {% endif %}
    {% endfor %}
  </ul>
</div>
</div>
{% endblock %}
