{% extends "base.html" %}

{% block heading %}
<h1>Zeta Zeta Chapter</h1>
{% endblock %}

{% block title %}
Zeta Zeta Chapter
{% endblock %}

{% block content %}
<div class="container well">
    <div class="row-fluid">
        <div class="span12">
                <img src="http://www.psiu.org/images/coas/zetazeta.jpg" class="img-rounded text-center">
            <h2>History of Zeta Zeta Chapter of Psi Upsilon</h2>
            <p>The UBC chapter of Psi Upsilon began in 1928 as a local fraternity called the Alpha Kappa Alpha Society. Its aims were the development of leadership, academic and athletic abilities. In the 30′s it was decided that affiliation with an international fraternity was to be the next step in AKA’s development. Psi U was chosen because of its similar ideals and outstanding reputation among North American fraternities. In 1935, after 4 years of petitioning, AKA was accepted and given a charter. It was installed on October 19th of that year at the Hotel Vancouver, and named as the Zeta Zeta chapter of Psi Upsilon. Since that date, Zeta Zeta has maintained proud standing within UBC’s greek community. Some of the most prominent men in Vancouver were undergraduate members of Psi U here at UBC.</p>

            <h2>Zeta Zeta Today</h2>
            <p>One of our most outstanding achievements as a chapter is the production of seven Rhodes scholars Â­ the most of any chapter of Psi Upsilon, despite our small size and 70 years of existence. Psi U, as an international organization also grants scholarships and awards, usually accepting one or two candidates from every chapter, based on the president’s recommendation. All the brothers at Zeta Zeta recognize the importance of scholastic commitments. Younger members are encouraged to consult senior brothers who are engaged in similar disciplines, and are never required to do anything which conflicts with their curriculum.</p>

            <p>Like academics, athletics are as strongly promoted at Zeta Zeta today as they were sixty years ago. We traditionally participate in several UBC sporting events through the year, as well as the UBC intramural sport leagues. Currently, besides participating in The Legacy Games’ Grand Slam, we also have a ball hockey team, a co-ed and mens elite volleyball team, a soccer team and a dodgeball team</p>

            <p>The social calendar of a Psi U at Zeta Zeta is varied and well-balanced. Occasions range from the wild to the formal, and include parties/events thrown by ourselves or other greek societies, pub nights, nights out on the town, and trips to our nearest fellow chapter, Theta Theta at University of Washington in Seattle. There is by no means any pressure to be a party animal at Psi U, but the spirit of good times is part of our lives, and we try to make sure that there are always good times to be had.</p>
            <h2>Mission</h2>
            <h3>Character development</h3>

            <p>College covers a span of life that holds tremendous possibilities for the development of an individual’s personality. To thrive, people need a congenial and stimulating atmosphere. The fraternity chapter, with its carefully chosen members, provides this environment.</p>

            <h3>Strong friendships</h3>

            <p>Fraternity life teaches members to seek grounds for mutual understanding and appreciation. The desire to understand and to be understood is universal. The relationships developed in a fraternity give the assurance of deep and lasting friendships.</p>

            <h3>Support, advice, and counsel</h3>

            <p>Fraternities fill the void caused by the breaking of family ties. In each chapter, the accumulated years of experience of the upperclassmen can go a long way in helping solve the problems facing freshmen.</p>

            <h3>Encourages scholarship</h3>

            <p>Psi Upsilon expects its members to be leaders in and out of the classroom. Brothers help each other with studies, course selection, and curriculum planning. They also exert positive peer pressure so that academic success may be realized.</p>

            <h3>Broaden outside interests</h3>

            <p>By associating with people of different backgrounds and interests, members of the Fraternity find their own interests broadened and changed by those around them.</p>

            <h3>Foster high ideals</h3>

            <p>Each member is exposed to the timeless ideals, aims, and principles which have served Psi Upsilon since its founding. The goals of each member are to make a significant contribution to their college or university, to their community, and to their country; to adopt and fulfill significant life goals; and to achieve the highest moral, intellectual, and social excellence and educational standards.</p>
        </div>
    </div>
</div>
{% endblock %}
