<!-- chapter roll -->

{% extends "base.html" %}

{% block title %}
Chapter Roll
{% endblock %}

{% block heading %}
<h1>Chapter Roll <small>{{ section }}</small></h1>
{% endblock %}

{% block content %}

<div class="row-fluid">
  <ul class="thumbnails">
    {% for b in brothers %}
    <li class="span2">
    <div class="thumbnail" style="background-color:#ffffff;">
      <img src="/static/{{ b.photo.url }}" class="img-round" width='300px' height='300px' >
      <div class="caption">
        <p>{{ b.name }}</p>
        <p><strong></strong>{{ b.phone_number }}</p>
        <p><strong>Initiated: </strong>{{ b.year_joined }}</p>
        <p><strong>Graduation: </strong>{{ b.year_graduate }}</p>
        {% if b.isExec %}
        <p><strong>Position: </strong>{{ b.execPosition }}</p>
        {% endif %}
      </div>

    </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
