<!-- contact us -->

{% extends "base.html" %}

{% block title %}
Contact Us 
{% endblock %}

{% block heading %}
<h1>Contact Us</h1>
{% endblock %}

{% block content %}
      <div class="container well">
  <div class="row-fluid">
    <!-- <div class="span12"> -->
            <div class="span6">
              <h3>How to contact us</h3>
              <p><strong>House Address:</strong> #7 2880 Wesbrook Mall</p>
              <p><strong>Chapter President:</strong> Glen Iverson- <strong>Phone Number:</strong>#</p>
              <p><strong>House Manager:</strong> James Zago- <strong>Phone Number:</strong>#</p>
              <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=%237+2880+Wesbrook+Mall&amp;aq=&amp;sll=54.112352,-126.555646&amp;sspn=14.948737,39.506836&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=2880+Wesbrook+Mall+%237,+Vancouver,+British+Columbia+V6T+2G3&amp;z=18&amp;ll=49.259716,-123.238811&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=%237+2880+Wesbrook+Mall&amp;aq=&amp;sll=54.112352,-126.555646&amp;sspn=14.948737,39.506836&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=2880+Wesbrook+Mall+%237,+Vancouver,+British+Columbia+V6T+2G3&amp;z=14&amp;ll=49.259716,-123.238811" style="color:#0000FF;text-align:left">View Larger Map</a></small>
          </div>
            <div class="span6">
              <div class="container">
                <h3>Questions? Send us a message</h3>
                  <form action="/contact/" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn"/>
                  </form>
              </div>
          </div>
    </div>
    <!-- </div> -->
</div>


{% endblock %}
