{% extends "base.html" %}

{% block heading %}
<h1>Our House<small>#7 2880 Wesbrook Mall</small></h1>
{% endblock %}

{% block title %}
Our House
{% endblock %}

{% block content %}
<div class="container well">
    <img src="{{ STATIC_URL }}/static/images/house-header.jpg">
    <img src="{{ STATIC_URL }}/static/images/house/IMG_20130904_201342.jpg">
    <img src="{{ STATIC_URL }}/static/images/house/IMG_20130904_201423.jpg" height="30">
    <img src="{{ STATIC_URL }}/static/images/house/IMG_20130904_201525.jpg" height="30">
</div>


{% endblock %}
