{% extends "base.html" %}

{% block title %}
Instagram
{% endblock %}

{% block heading %}
<h1>Instagram</h1>
{% endblock %}

{% block content %}

<div class="container well">
  <table>
    <tr>
      <td>
  <!-- www.instagme.com -->
  <iframe src="http://www.instagme.com/in/?u=cHNpdXBzaWxvbnViY3xzbHwzMDB8MnwzfHx5ZXN8NXx1bmRlZmluZWQ=" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:315px; height: 315px" ></iframe>
</td>
<td>
  <p>Check us out on instagram @psiupsilonubc!</p>
</td>
</tr>
</table>
<iframe src="http://widget.stagram.com/in/psiupsilonubc/?s=250&w=2&h=3&b=1&p=5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:630px; height: 945px" ></iframe> <!-- Webstagram - web.stagram.com -->
</div>


{% endblock %}
