{% extends "base.html" %}

{% block heading %}
<h1>International Office</h1>
{% endblock %}

{% block title %}
International Office
{% endblock %}

{% block content %}
<div class="container well">
    <iframe width="560" height="315" src="//www.youtube.com/embed/grIT504hT_o?rel=0" frameborder="0" allowfullscreen></iframe>
    <p>
    <br>
    Psi Upsilon is a way of life. It is friendships, brotherhood, leadership opportunities, social functions, community service, growth and personal development, hard work, academic endeavors, and many other things. The “Psi U experience” each member has is likely to be different from that of a member of another chapter or even a brother in the same chapter. Although the experience may differ, Psi Upsilon itself, as defined by its principles and standards, is constant. It is the fundamental nature of these principles, expressed below, which have given Psi Upsilon the strength to flourish since its inception in 1833.</p>

    <p>Our fraternity is a select group sharing similar ideals, hopes, and purposes, bonded together by deep friendship and mutual understanding. Such a bond provides the foundation which enables the college student to become a poised and self-confident adult equipped with a keener mind, a greater appreciation, and broader sympathies. This bond is further fortified by a group of true and understanding friends who will stand by him throughout life. The outward manifestation of the philosophical underpinnings of Psi Upsilon are the ways in which we treat ourselves, each other, and those around us.</p>

    <p>You can reach Psi Upsilon International online at: <a href="http://www.psiu.org">www.psiu.org</a></p>
    </div>
{% endblock %}
