{% extends "base.html" %}

{% block heading %}
<h1>Psi Us in the News</h1>
{% endblock %}

{% block title %}
Psi Us in the News
{% endblock %}

{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="span4">
            <div class="well">
                <h2>Crankworks Celebrates 10 years</h2>
                <p>August 9-18 marked 10 years of Whistler Crankworx. </p>
                <p>We applaud Psi Upsilon Alumnus Karl Burkat of Pinkbike fame for sponsoring such an event</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

