{% extends "base.html" %}

{% block heading %}
<h1>Psi Us in the News</h1>
{% endblock %}

{% block title %}
Psi Us in the News
{% endblock %}

{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="span4">
            <div class="well">
                <h2>Crankworks Celebrates 10 years</h2>
                <img src="{{ static }}/static/news/crankworx.jpg">
                <p>August 9-18 marked 10 years of Whistler Crankworx. </p>
                <p>We applaud Psi Upsilon Alumnus Karl Burkat of Pinkbike fame for sponsoring such an event</p>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <h2>UBC Greek System welcome 239 pledges</h2>
                <img src="{{ static }}/static/news/bids_day.jpg">
                <p>On Monday September 25, Psi Upsilon welcomed 21 potential new members during Bids day.  We are excited for the opportunity to develop the moral, intellectual and spiritual well being of these young men</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}

