
{% extends "base.html" %}

{% block title %}
Philanthropy
{% endblock %}

{% block heading %}
<h1>Philanthropy</h1>
{% endblock %}

{% block content %}
<div class="span12">
    <div class="well container">
        <h2>Psi U Think You Can Dance?</h2>
        <img src="/static/images/putycd.jpg" class="img-circle">
        <h2>AOII Christmas Drive</h2>
        <img src="/static/images/aoii_philanthropy.jpg" class="img-circle">
        <h2>Movember</h2>
        <img src="/static/images/Movember1.jpg" class="img-circle">
    </div>
</div>
</div>
{% endblock %}
