<!-- Rush -->

{% extends "base.html" %}

{% block title %}
Rush
{% endblock %}

{% block heading %}
<h1>Rush</h1>
{% endblock %}

{% block content %}

<div class="container well">
    <div class="row-fluid">
        <div class="span12">

            <img src="/static/images/rush/psiubooth.jpg" width=500>
                        <h2>Why rush Psi U?</h2>
                        <!-- <p>#7 2880 Wesbrook Mall is more than a physical house. It's a spritual home for generations of inspired men.  It's walls echo with our songs and it's windows are etched with our history.  We stand together to support eachother so we may achieve our highest aspirations and as a potential new member of our Brotherhood, we expect you to uphold the highest virtues of our Order.</p> -->
                        <img src="http://ubyssey.ca/guide/files/2013/08/Screen-shot-2013-08-30-at-10.00.37-PM.png">
                        <h3>Rush Events</h3>
                        <li><h4>September 12th- First Rush (7-11pm)</h4></li>
                        <p>Come to the Greek Village (2880 Wesbrook Mall) to learn about the 10 Fraternities at UBC, talk to some of our brothers and see if Psi Upsilon is right for you. Light refreshments will be served. </p>
                        <li><h4>September 13th- Centurion</h4></li>
                        <li><h4>September 17th- Second Rush (7-11pm)</h4></li>
                        <p>If you missed first rush, still unsure if membership is for you, or if you'd like to just learn more, please come to the Greek Village between 7-11pm.  Light refreshments will be served.</p>
                        <li><h4>September 22rd- Formal Rush</h4></li>
                        <li><h4>September 23rd- Bids Day</h4></li> 

                        </br>
                        <h4>Still unsure if rushing is right for you?  Send us an <a href="/contact">anonymous message</a> and we'll help you decide</h4> 

        </div>
    </div>
</div>


    {% endblock %}
