<!-- Rush -->

{% extends "base.html" %}

{% block title %}
Rush
{% endblock %}

{% block heading %}
<h1>Rush</h1>
{% endblock %}

{% block content %}

<div class="container well">
    <div class="row-fluid">
        <div class="span12">
                        <h2>Why rush Psi U?</h2>
                        <p>#7 2880 Wesbrook Mall is more than a physical house. It's a spritual home for generations of inspired men.  It's walls echo with our songs and it's windows are etched with our history.  We stand together to support eachother so we may achieve our highest aspirations and as a potential new member of our Brotherhood, we expect you to uphold the highest virtues of our Order.</p>
        </div>
    </div>
</div>


    {% endblock %}
