{% extends "base.html" %}

{% block heading %}
<h1>Scholastics</h1>
{% endblock %}

{% block title %}
Scholastics
{% endblock %}

{% block content %}
<div class="container well">
    <div class="row-fluid">
        <div class="span12">
            <p>Our chapter has raised seven Rhodes Scholars since 1935 and scholasticism has continued to be a priority for brothers of Psi Upsilon.</p>
            At Psi Upsilon, we uphold the highest standards of academic achievement.  Our Scholastic Officer is responsible for providing a number of academic support services, including organizing twice weekly study hall periods, academic tutoring and our private notes and exam database.     </p>
        </div>
    </div>
</div>
{% endblock %}


